p{
    color: salmon;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
}

.item{
    padding: 5px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(49, 44, 44);
    background: white;
    font-size: 20px;
    transition: color 0.3s , transform 0.3s, background 0.3s;
    height: 40px;
    cursor: pointer;
    border: 1px solid lightblue;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 700px;
    margin: auto;
    z-index: 1;
    transform: scale(1.0);
    position: relative;
}

.item:hover{
    transition: 0s;
    color: white;
    background: darkslategrey;
    transform: scale(1.3);
    z-index: 10 !important;
}

footer{
    margin-top: 500px;
}

.test{
    z-index: 2;
}