.center{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
    text-align: center;
}